<section>
  <% if locals[:photo_comments].empty? %>
    No comments exist for this photo
  <% else %>
    <% locals[:photo_comments].each do |comment| %>
      <p>
        <%= comment.message %>
        |
       <strong>  <%= locals[:photo].commenter_username(comment.user_id) %></strong>
        |
        <%= comment.created_at.to_formatted_s(:long_ordinal)  %>

      </p>
    <% end %>
  <% end %>
</section>
<br><br>
