<!-- <div class="container-fluid">

  <div class="row">
    <div class="col">
      <h1 class="mt-3">Instarails apps</h1>
      <img src="<%= asset_url('photoapp.jpg') %>" class="img-fluid"  alt="instrails-app">
    </div>
    <div class="col">
      <nav>
        <% if user_signed_in? %>
        <%#= link_to 'Edit account', edit_user_registration_path, class: 'btn btn-primary' %>
        <%#= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-light', method: :delete %>
      <% else %>
        <%#= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
        <%#= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
        <% end %>
      </nav>
    </div>
  </div>
</div> -->
<!--
<p>Latest 10 images</p>

<%= link_to 'Photos', photos_path %>

<h2>Challenge</h2>
<ul>
  <li>Shrine</li>
  <li>Bootstrap 4 gem</li>
</ul> -->
