/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
   font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }

 /* Navbar  */
 .navbar-brand {
   a {
     color: #125688;
   }
 }

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

navbar-container {
  width: 70%;
  margin: 0 auto;
}

/*  Photo  */
.photos-wrapper{
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.photo {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .photo-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago{
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.photo-bottom {
  .user-name, .comment-message{
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
     font-weight: 500;
     margin-right: 0.3em;
     color: #125688;
     font-size: 15px;
  }
  .user-name, .caption-message {
    display: inline;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }

margin-bottom: 7px;
padding-top: 24px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 10px;
font-size: 15px;
line-height: 18px;
}

.comment-message {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form{
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFFF;
  flex-direction: row;
  justify-content: center;

}

/*  wrapper and style for new and edit view */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.instagram{
  background:#ffffff;
  border: 1px solid #e6e6e6;
  width:350px;
  border-radius:3px;
  margin-bottom:10px;
  text-align:center;
  padding:5px;
}

.inputs{
  width:270px;
  margin:auto;
}
.inputs input{
  width: 250px;
  padding:10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-top:7px;
  outline:0;
  color:#262626;
}
.inputs input:focus{
  border:1px solid #aaa;
}
.buttons{
  width:270px;
  margin:auto;
}
.buttons button{
  width: 100%;
  outline:0;
  font-size:14px;
  margin-top:15px;
  margin-bottom:60px;
  padding:10px;
  font-weight:bold;
  color:#fff;
  background:#3897f0;
  border:none;
  border-radius:3px;
}
.logo {
  margin:auto;
  width:270px;
  text-align:center;
}
.logo img{
  width: 200px;
  margin-top: 22px;
}

.line{
  width: 254px;
  margin-left: 10%;
  border-bottom:1px solid #c7c7c7;
  margin-bottom:15px;
}
.kayit{
  width:270px;
  margin:auto;
  text-align:center;
  color:#262626;
  font-size:13px;
  margin-bottom:15px;
}
a{
  text-decoration:none;
  color:#333;
}
.pad{
  padding:20px 5px;
}
.photoapp, .instagram {
  display: inline-block;
vertical-align: top;
}

.btn{
  margin-bottom: 4%;
}

body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 80px;
  height: 1900px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  transition: 0.5s ease;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  display: inline-block;
  width: 70px;
  margin-left: 0;
}



.scrolled {
 transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;

}


.scrolled.navbar .nav .item {
  line-height: 40px;
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.scrolled.navbar .logo {
  float: left;
  display: inline-block;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  transition: 0.5s ease;
}

#profile img, #notification img, #explore img {
  width: 40px;
}

.logo, .navbar {
  vertical-align: top;
  width: 30%;
  display: inline-block;
  text-align: left;
  padding-left: 4%;
}
.navbar{
  width: 60%;
  text-align: right;
  padding-top: 0;
  padding-bottom: 4%;
}
header{
  padding: 2%;
  background-color: white;
}
